<h1>Add a new part to <%= @parent.title %></h1>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    

    <%= form_for(@part) do |f| %>
      
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :content, 'Content' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.hidden_field :parent_id, value: @parent.id %>
      <% if @back_to.class == Part %>
        <%= f.hidden_field :map_id, value: @back_to.id %>
      <% end%>
  
      <%= f.submit 'Add', class: 'btn btn-info btn-block' %>
      <div data-turbolinks="false" class="return">
        <% if @back_to == 'edit' %>
          <%= link_to 'Back', edit_part_path(@parent), class: 'btn btn-warning btn-block' %>
        <% elsif @back_to.class == Part %>
          <%= link_to 'Back', map_former_path(@back_to), class: 'btn btn-warning btn-block' %>
        <% else %>
          <%= link_to 'Back', root_path, class: 'btn btn-warning btn-block' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>