<h1>Add a new part to<%= @parent.title %></h1>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    

    <%= form_for(@part) do |f| %>
      
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :content, 'Content' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.hidden_field :parent_id, value: @parent.id %>
  
      <%= f.submit 'Create', class: 'btn btn-danger btn-xs' %>
      
      <%= link_to 'Return', edit_part_path(@parent), class: 'btn btn-info btn-xs' %>
    
    <% end %>
  </div>
</div>